@import url('http://fonts.googleapis.com/css?family=Kode+Mono');
/* PAGINA EN GENERAL */ /*---------------------------------------------------------------------------------------------------------------------------*/
body, html {
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:'Kode Mono';
    color:#ffe4b2;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 90%;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* FONDO CUADRICULADO, EFECTOS DE CAMBIO DE COLOR Y SOMBREADO */
body { /* FONDO CUADRICULADO CON DEGRADADO*/
    margin: 0;
    height: 100vh;
    background-color: #1a1a1a;
    background-image: url('cuadricula-pattern.svg'), linear-gradient(to top, #06010f,    #690e0e, #a1035a);
    background-size: 100% 100%, cover;
    background-repeat: no-repeat; 
    z-index: -1;         
}
.background-sombras { /* FONDO DE SOMBRAS CAMBIANTES */ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3a003080, #3b00198e, #28014788, #4101357e);
    background-size: 2500% 2500%;
    animation: gradient 50s ease infinite;
    z-index: -2; 
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }   
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* FONDO  DE SECCIONES */
section {
    font-size: 12px;
    color: rgb(167, 255, 243);
    
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 0, 149, 0.5);
    background: linear-gradient(90deg, #30002198, #35002c94, #31001798, #3f003f88);
    background-size: 400% 400%;
    animation: gradient-2 10s ease infinite;
}
@keyframes gradient-2 {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
h2 {
    font-size: 16px;
    color: rgb(255, 32, 125);
    text-shadow:0px 3px 5px rgba(255, 0, 76, 0.842); ;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* CONTENEDOR DE ANIMACION CENTRAL Y SECCIONES */
.control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative; 
}
.spin-container{
    display: grid;
    width: 100%;
    position: relative;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ORDEN DE LOS ELEMENTOS PRINCIPALES, ANIMACION CENTRAL Y SECCIONES ALREDEDOR */
#spin-animation{
    justify-self: center;
    order: 2; 
}
#section-left {
    justify-self: left;
    width: 25%;
    order: 1;
}
#section-right {
    justify-self: right;
    width: 25%;
    order: 3;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* WIDGETS SVGs Y EFECTOS ESPECIALES EN JAVASCRIPT */
.particle {
    position: absolute;
    background-color: #ff6adab4;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity:1;
    z-index: -1;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.widget-tiempo-container{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2%;
    padding-right: 2%;
}
#widget-tiempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    box-shadow: 0 0 20px rgba(255, 0, 149, 0.5);
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #3000210e, #35002c13, #3100170e, #3f003f0a);
    animation: gradient-2 10s ease infinite;
    border-radius: 10px;
}
#reloj {
    font-size: 60px;
    text-shadow: 0 0 10px rgba(255, 0, 149, 0.692);
}
#clima {
    font-size: 15px;
    text-shadow: 0 0 10px rgba(255, 0, 149, 0.5);
}
