body, html {
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color:#ffe4b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

body {
    margin: 0;
    height: 100vh;
    background-color: #1a1a1a;
    background-image: url('cuadricula-pattern.svg'), linear-gradient(to top, #06010f,    #690e0e, #a1035a);
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    
    z-index: -1;

 
           
}

.background {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3a003080, #3b00198e, #28014788, #4101357e);
    background-size: 2500% 2500%;
    animation: gradient 50s ease infinite;
    z-index: -2;
    
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }   
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    
    padding: 0px;
    width: 90%;
    text-align: center;
    margin-bottom: 1em;
   
}

main {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    justify-content: center;
    width: 90%;

}

section {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(255, 0, 149, 0.5);
    background: linear-gradient(90deg, #300021be, #35002cb2, #310017b4, #3f003fb9);
    background-size: 400% 400%;
    animation: gradient-2 10s ease infinite;
}
@keyframes gradient-2 {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
h2 {
    border-bottom: 1px solid #ff008c;
    padding-bottom: 0.5em;
    margin-bottom: 0px;
}



.circle {
    transform-origin: center;
    justify-self: center;
}


.circle-container {
    justify-self: center;
    width: 50%;
    position: relative;
    width: 200px;
    height: 200px;
}

.circle-container .rotate {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 10s linear infinite;
}
.circle-container .rotate-slow {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin-slow 15s linear infinite;
}
.circle-container .rotate-fast {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin-slow 5s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin-fast {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.panel-control {
    display: flex;
    flex-direction: row;
   
}
#noticias {
    justify-self: left;
    width: 25%;
}
pre {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    line-height: 1.2; /* Ajusta el interlineado según sea necesario */
}
.particle {
    position: absolute;
    background-color: #ff6adab4;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity:1;
    z-index: -1;
}